:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --background-color: #f4f4f4;
    --text-color: #333;
}
* , *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body, .d-grid {
    height: 100vh;
    background: var(--mdb-primary);
} */

html, body {
    height: 100vh;
    width: 100vw;
    font-size: var(--font-size);
    background-color: #f4f4f4;
    color: #333;
}
section.d-grid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.d-gird{
    align-self: center;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 768px) { 
    body {
        background: #3498db;
    }
}